* {
    background-color: black;
    padding: 0.3rem;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: space-around;

    font-family: 'DM Sans', sans-serif;
    font-size: 26px;
    font-weight: 700;

    color: white;
}

nav#nav-bar{
    display: flex;
    justify-content: space-between;

    padding: 1rem;
}

ul#nav-list {
    display: flex;
    flex-direction: row;

    gap: 2rem;
    list-style: none;

    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.link-nav{
    color: white;
    text-decoration: none;
}

.link-nav:hover{
    color: #00ffff;
}

section#main-text-button{
    display: flex;
    justify-content: space-around;

    padding: 2rem;
}

div#introduction-text{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

p#description-text {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
}

div#buttons{
    display: flex;
    gap: 1rem;
}

button#download { 
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;

    border: none;
    background-color: #00ffff;
    padding: 1rem 3rem 1rem 3rem; 
}

button#download:hover {
    cursor: pointer;
    background-color:#389cac; 
    color: white;
}

button#contato{
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;

    border:1px solid; 
    border-color: #333333;
    padding: 1rem 3rem 1rem 3rem; 
}

button#contato:hover{
    cursor: pointer;
    background-color: #35354c; 
}

div#main-banner {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
}

img#main-img {
    width: 24rem;
}

section#about-me{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;

}

div#about-me-text{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #333333;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}