html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1.h1 {
    display: flex;
    justify-content: space-around;

    font-family: 'DM Sans', sans-serif;
    font-size: 26px;
    font-weight: 700;

    color: white;
}

nav#nav-bar{
    display: flex;
    justify-content: space-between;

    padding: 2rem 4rem 2rem 8rem;
    background-color: #171717;
}

ul#nav-list {
    display: flex;
    flex-direction: row;

    gap: 2rem;
    list-style: none;

    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

a.link-nav{
    color: white;
    text-decoration: none;
    transition: 0.2s
}

a.link-nav:hover{
    color: #828282;
    transition: 0.2s;
}


a.link-nav:visited {
    color: white; /* Mesma cor do link não visitado */
    text-decoration: none; /* Manter sem sublinhado */
}

section.section-main-text-button{
    padding: 4rem 4rem 0rem 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #171717;
}

div#intro-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    
}

h2.h2-intro{
    font-family: 'DM Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: white;
}

p.job-text{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:#828282;
    padding: 1rem 0rem 0.5rem 0rem;    
}

p.normal-text {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:#828282;
    padding: 1rem 0rem 0.5rem 0rem;
}

div#buttons{
    display: flex;
    gap: 1rem;
}

button#download { 
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;

    border: none;
    background-color: #00ffff;
    color: #171717;
    padding: 1rem 3rem 1rem 3rem; 
}

button#download:hover {
    cursor: pointer;
    background-color:#389cac; 
    color: white;
}

button#contato{
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;

    background-color: #171717;
    border:1px solid #333333; 
    padding: 1rem 3rem 1rem 3rem; 
}

button#contato:hover{
    cursor: pointer;
    background-color: #35354c; 
}

div#main-banner {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    
}

img#main-img {
    width: 24rem;
}

section.section-about-me{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 7rem 0rem 0rem 0rem;
    font-family: 'DM Sans', sans-serif;
    background-color: #171717;
}

h3.h3 {
    padding: 1rem;
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

div#about-me-text{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0rem 0rem 4rem 0rem;
}

article#about {
    width: 50%;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding: 1rem;
    color: #828282;

}

div#contact {
    display: flex;
    justify-content: space-around;
    gap: 6rem;
    padding: 3rem 0rem 0rem 0rem;
}

div.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

div.info-icon {
    display: flex;
    justify-content: center;

    background-color: #212121;
    border-radius: 100px;
    padding: 14px;
}

div.info-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4.h4 {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0rem 0rem 0.5rem 0rem;
    color: white;
}

a.link-icon{
    text-decoration: underline;
    color: #828282;
}

svg.bi {
    width: 32px;
    height: 32px;

    color: #00ffff;
    background-color: #212121;
}

section.section-projects {
    padding: 8rem;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.cards {
    display: flex;
    flex-flow: nowrap;
    padding: 2rem 0rem 0rem 0rem;
    gap: 2rem;
}

div.card {
    display: flex;
    flex-direction: column;
    background-color: #212121;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    width: max-content;
    border: solid 1px #333333;
}

img.card-img {
    width:320px; 
    height:160px; 
    border: solid 1px #333333;

}

div.card-info{
    background-color: #212121;
    padding: 2rem 0rem 0rem 0rem;
}

h4.h4-card {
    background-color: #212121;
    font-weight: 500;
    padding: 0rem 0rem 0.5rem 0rem;
}

p.card-text {
    font-weight: 500;
    font-size: 14px;
}

section.section-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #171717;
}

div.service-cards {
    display: flex;
    flex-flow: nowrap;
    width: fit-content;
    align-items: center;
}

div.card-service {
    width: max-content ;
    display: flex;
    flex-direction: column;
    padding: 2rem 13rem 2rem 2rem;
    position: relative;
}

.card-service::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px; /* Altura da linha */
    background: linear-gradient(90deg, #00ffff, #00b1b1); /* Cor da linha */
    border-bottom-left-radius: 8px; /* Acompanhar o border-radius do card */
    border-bottom-right-radius: 8px; /* Acompanhar o border-radius do card */
}

svg.service-icon {
    --icon-color: #00ffff;
}

h5.h5-card {
    color: #828282;
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 41.66px;
    text-align: left;

}

div.card-info-service {
    padding: 2.4rem 0rem 0rem 0rem;
}

section.section {
    background-color: #171717;
}

section.section-skills {
    padding: 8rem;
    align-items: center;
    justify-content: center;
}

div.skills-cards {
    display: flex;
    justify-content: center;
}

div.skill-card {
    padding: 1rem;
}

footer {
    background-color: #212121;
    padding: 1rem;
}

p.footer-p {
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.83px;
    text-align: center;
}

span.footer-span {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.83px;
    text-align: center;
    color: #00ffff;
}

@media only screen and (max-width: 768px) {
    a:visited {
        color: white; /* Mesma cor do link não visitado */
        text-decoration: none; /* Manter sem sublinhado */
    }

    @media (pointer: coarse) {
        a:hover {
            color: white;
        }
    }

    section.section{
        padding: 4rem 10rem;
    }
    
    h1.h1 {
        font-size: 22px;
        text-align: center;
    }

    nav#nav-bar {
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
    }

    ul#nav-list {
        display: flex;
        padding: 2rem 0rem 0rem 0rem;
        flex-direction: row;
        font-size: 14px;
        gap: 1rem;
        text-align: center;
        align-items: center;
    }

    section.section-main-text-button {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        align-items: center;
        justify-content: center;
    }

    div#intro-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    button#download {
        font-family: 'DM Sans', sans-serif;
        font-size: 12px;
        font-weight: 400;
        border: none;
        background-color: #00ffff;
        padding: 1rem;
        width: 10rem;
        height: fit-content;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s; /* Transição suave para mudanças de cor */
    }

    button#download:visited {
        background-color: #00ffff;
        color: #171717;
    }
    
    /* Remover o efeito de hover em dispositivos móveis */
    @media (pointer: coarse) {
        button#download:hover {
            background-color: #00ffff; /* Manter o estilo original no mobile */
            color: #171717;
        }
    }

    button#contato {
        color: white;
        font-family: 'DM Sans', sans-serif;
        font-size: 12px;
        font-weight: 400;
        background-color: #171717;
        border: 1px solid #333333;
        padding: 1rem;
        width: 10rem;
        transition: #35354c, 0.3s, color 0.3s;
    }

    button#contato:visited {
        color: white;
        background-color: #171717;
        border: 1px solid #333333;
    }

    @media (pointer: coarse) {
        button#contato:hover {
            background-color: #171717; /* Manter o estilo original no mobile */
            color: white;
        }
    }

    h2.h2-intro {
        font-size: 20px;
        text-align: center;
    }

    h3.h3 {
        font-size: 20px;
    }

    p.job-text {
        padding: 1rem;
        font-size: 14px;
    }

    p.normal-text {
        font-size: 16px;
        text-align: center;
    }

    div#buttons {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    div#main-banner {
        align-items: center;
    }

    img#main-img {
        width: 100%;
        padding: 2rem 2rem 1rem 2rem;
    }

    section.section-about-me {
        padding: 4rem 1rem;
    }

    article#about {
        width: 100%;
        font-size: 16px;
    }

    div#contact {
        display: flex;
        flex-direction: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    div.contact-info {
        width: 30%;
        font-size: 12px;
    }

    p.normal-text {
        padding: 0;
    }

    section.section-projects {
        padding: 4rem 10rem;
    }

    div.cards {
        flex-direction: column;
        align-items: center;
    }

    div.card {
        width: 100%;
        padding: 1rem;
        align-items: center;
    }

    h4.h4-card {
        text-align: center;
    }

    section.section-services {
        padding: 4rem 0rem 5rem 0rem;
    }

    div.service-cards {
        display: flex;
        flex-direction: row; /* Mantém os cards na horizontal */
        align-items: center; 
        justify-content: center;
        width: 100%; /* Ajuste para ocupar a largura total */
    }
    
    div.card-service {
        width: 6rem;
        height: 9rem; /* Diminui o tamanho dos cards para 45% da largura */
        padding: 0.5rem; /* Diminui o padding */
        text-align: center;
    }

    div.card-info-service {
        padding: 1rem 0rem;
    }

    h5.h5-card {
        font-size: 12px;
        text-align: center;
        line-height: normal;
    }

    svg.service-icon{
        width: 28px;
    }

    section.section-skills {
        padding: 4rem 2rem 4rem 2rem;
    }

    div.skills-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Duas colunas de largura igual */
        grid-template-rows: repeat(2, auto);   /* Duas linhas automáticas */
        gap: 1rem; /* Espaço entre as skill cards */
        justify-items: center; /* Centralizar as cards dentro das colunas */
        padding: 2rem;
    }
    
    div.skill-card {
        padding: 0.5rem;
        width: 100%;
        max-width: 150px; /* Reduzir o tamanho das skill cards */
        background-color: #212121;
        text-align: center;
    }

    footer {
        padding: 2rem 1rem;
    }

    p.footer-p, span.footer-span {
        font-size: 14px;
    }
}

